body {
    color:black;
    background-color:white;
    background-image:url(fond.jpg);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.button{
    margin-left: 125px;
}


.button1{
    margin-left: 150px;
    float: none;

}
.button2{
    margin-left: 5px;
    float: none;

}

.button3{
    margin-left: 5px;
    float: none;

}
.button4{
    margin-left: 270px;
    float: none;
}


#menu-demo2, #menu-demo2 ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}
.connexion {
    margin-top: 200px;
    float: none;
}